streamlit
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-chroma
langchain-ollama

python-dotenv
pypdf
pymupdf
beautifulsoup4

fastapi
uvicorn
pyodbc
