streamlit
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-chroma

python-dotenv
pymupdf==1.24.10
pypdf
beautifulsoup4

fastapi
uvicorn
pyodbc


