streamlit
python-dotenv
langchain==0.2.10
langchain-community==0.2.10
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-chroma
python-dotenv
pymupdf==1.24.10
pypdf
beautifulsoup4
fastapi
uvicorn
pyodbc





